default: &default



development:
 host: localhost
 username: root
 password:
 adapter: mysql2
 database: dota_demo

test:
 host: localhost
 username: root
 password:
 adapter: sqlite3
 database: db/dota_demo.sqlite3
production:
 host: localhost
 password:
 adapter: pg
 database: dota_demo