# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ae593382759367f82789e297a1b3634860f8d4df0bec07d8b9ec120469022863f76e672212cf46552218cb240f963687ac5edff7fa5da465d4f8088385a22821

test:
  secret_key_base: caa55d10823165e94eb4eb3567c404ab19a7f60884a0d9842718ab35c2f40ab74af97d900c32ca45a76e743e65af39ba007ddf8df62c04d7a8479bd8ef1b2286

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
